#example4-log {
  width: 100%;
  box-sizing: border-box;
}
#example4-log:before {
  content: 'Output:';
}
#example4-log textarea {
  outline:none;
  border:none;
  width:100%;
  height:70px;
  resize:none;
}
#inherit-buttons {
  margin-left: 15px;
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
}
#inherit-buttons button {
  display: block;
  margin-bottom: 10px;
}
.small-notice {
  font-size: 85%;
}
#example5.demoarea {
  display: block;
  margin-top: 30px;
}
#example5 [data-host]:before {
  top: 3px;
  left: 3px;
  position: absolute;
  content: '<div data-host>';
  color: #888;
}
#example5 [data-host] {
  padding: 25px;
  border: 3px solid black;
  display: inline-block;
  background: #eee;
  text-align: center;
  position: relative;
  float: left;
}
#example5 div {
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
}
#example5 .blue {
  background: steelblue;
  color: white;
  display: inline-block;
}
#example5 .buttons {
  margin-left: 10px;
  float: left;
}
#example5 output {
  background: #eee;
  height: 150px;
  overflow: auto;
  padding: 10px;
  display: block;
  clear: both;
}
#example5 output span {
  font-style: italic;
  font-size: small;
  display: inline-block;
}
#example5 button {
  vertical-align: bottom;
  margin-bottom: 5px;
}
#example5.playing {
  /*cursor: none;*/
}
#example5 .cursor {
  /* Icon by Laurent Patain - http://thenounproject.com/____Lo */
  background-image: url(cursor.svg);
  width: 36px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
#example5.playing .cursor {

}