section#sidebar
	div.sideTitle 作者简介
	div#intro.sideContent
		p.avatar
			img(src="/images/avatar.jpg")
		p
			| <strong>TooBug</strong>，前端工程师，目前就职于<a href="http://www.futu5.com" target="_blank">富途网络</a>，曾任腾讯CDC前端工程师。
		p
			a(href="http://weibo.com/toooobug",target="_blank")
				i.snsLink.iconfont.icon-weibo
			a(href="https://github.com/TooBug",target="_blank")
				i.snsLink.iconfont.icon-github

	div.sideTitle 友情链接
	div.sideContent
		p
			ul.friendLink
				li
					a(href="http://f2er.info",target="_blank") 前端百科
				li
					a(href="http://www.basecss.net",target="_blank") Basecss的博客
				li
					a(href="http://solodu.com",target="_blank") Solo的博客
				li
					a(href="http://www.mxgw.info",target="_blank") 梦想的港湾
				li
					a(href="http://www.uselessblog.cn",target="_blank") UseLess的博客
				li
					a(href="http://riny.net",target="_blank") Bubblings
				li
					a(href="http://www.uis.cc",target="_blank") uis.cc前端技术博客
