section#sidebar
	div.sideTitle 作者简介
	div#intro.sideContent
		p.avatar
			img(src="http://tp4.sinaimg.cn/2160639311/180/5633952458/1")
		p
			| <strong>TooBug</strong>，前端工程师，目前就职于<a href="http://cdc.tencent.com" target="_blank">腾讯CDC</a>。关注体验设计，关注大前端生态圈。
		p
			a(href="http://weibo.com/toooobug",target="_blank")
				img(src="http://www.sinaimg.cn/blog/developer/wiki/32x32.png")
			a(href="http://t.qq.com/TooBug",target="_blank")
				img(src="http://mat1.gtimg.com/app/opent/images/wiki/resource/weiboicon32.png")
			a(href="https://github.com/TooBug",target="_blank")
				img(src="http://cdn-img.easyicon.cn/png/10981/1098194.gif")

	div.sideTitle 友情链接
	div.sideContent
		p
			ul.friendLink
				li
					a(href="http://cdc.tencent.com",target="_blank") 腾讯CDC
				li
					a(href="http://cdc.im",target="_blank") CDC前端博客
				li
					a(href="http://www.lesscss.net",target="_blank") LESS中国官网
				li
					a(href="http://www.gruntjs.org",target="_blank") Grunt中文社区
				li
					a(href="http://miyuki.42code.com",target="_blank") Miyuki的博客
				li
					a(href="http://www.basecss.net",target="_blank") Basecss的博客
				li
					a(href="http://skpping.cdc.im",target="_blank") Skpping的博客
				li
					a(href="http://www.mxgw.info",target="_blank") 梦想的港湾
				li
					a(href="http://www.veryued.org",target="_blank") 飞长的博客
				li
					a(href="http://frontlan.com",target="_blank") 兰悦儿格格
